name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest
    name: Compile, test, format, credo, dialyzer & deps check
    env:
      MIX_ENV: test

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Elixir environment
        uses: ./.github/actions/setup-elixir

      - name: Compile
        run: mix compile --warnings-as-errors

      - name: Run tests
        run: mix test --max-failures 1 --trace --warnings-as-errors

      - name: Check code is formatted
        run: mix format --check-formatted

      - name: Run Credo
        run: mix credo --strict

      - name: Dialyzer
        run: mix dialyzer --format github

      - name: Check unused dependencies
        run: mix deps.unlock --check-unused
